<!-- recetas-del-dia.component.html -->
<div class="body-card" *ngIf="!isLoading && recetasDelDia.length > 0">
  <div class="body-card-interna">
    <div class="image-container">
      <img [src]="recetasDelDia[0].imageUrl" id="imgRecetaDelDia" alt="Imagen de la receta del día" />
    </div>

    <div class="content-container">
      <h5>Preparación</h5>
      <p>{{ recetasDelDia[0].descripcion }}</p>
    </div>
  </div>
</div>

<div *ngIf="isLoading">Cargando receta del día...</div>
<div *ngIf="!isLoading && recetasDelDia.length === 0">No hay recetas disponibles.</div>
