<div class="body-card">
  <div class="body-card-interna">
    <div class="body-card-interna-content">
      <img [src]="recetasDelDia[0].imageUrl" id="imgRecetaDelDia" alt="Imagen de la receta del día" />
    </div>

    <div class="body-card-interna-content">
      <h5 id="miTitulo">Ingredientes</h5>
      <ul>
        <li *ngFor="let ingrediente of recetasDelDia[0].ingredientes">
          {{ ingrediente.nombre }} - {{ ingrediente.cantidad }}
        </li>
      </ul>
    </div>

    <div class="body-card-interna-content">
      <h5>{{ recetasDelDia[0].nombre }}</h5>
      <p>{{ recetasDelDia[0].descripcion }}</p>
    </div>
  </div>
</div>
