<div class="row titulo-receta">
  <div class="col">
    <h1>Titulo Receta</h1>
  </div>
</div>

<div class="body-card-lista-receta">
  <div class="body-card-lista-receta-interna">
    <div class="row lista-receta-fila">
      <div class="col-txt">
        <h1>Lorem Ipsum</h1>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro, quos?
          Repellat sunt eum dolorum. Odit, id dignissimos laudantium aperiam
          possimus quaerat eaque quod modi officiis at architecto consequuntur
          unde. Aliquid. Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Dolores aliquam numquam, dicta neque, quo deserunt ipsum, saepe
          veritatis dignissimos minus ratione aperiam molestias porro nihil
          quam? Soluta sit molestias natus.
        </p>
      </div>

      <div class="col-img">
        <img src="/assets/chefs.jpg" />
      </div>
    </div>
  </div>
</div>
