<div class="body-card">
  <div class="body-card-interna">
    <div class="body-card-interna-content">
      <img src="/assets/ensaladilla.jpg" id="imgRecetaDelDia" />
    </div>

    <div class="body-card-interna-content">
      <h5 id="miTitulo">Ingredientes.</h5>
      <ul>
        <li>Lorem ipsum</li>
        <li>Lorem ipsum</li>
        <li>Lorem ipsum</li>
        <li>Lorem ipsum</li>
        <li>Lorem ipsum</li>
        <li>Lorem ipsum</li>
      </ul>
    </div>

    <div class="body-card-interna-content">
      <h5>Preparación</h5>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt sed
        aspernatur laudantium aliquam nobis adipisci commodi illo. Hic at
        tempore atque quos ullam quas eligendi nisi, illum nobis vero unde ex
        ipsa explicabo asperiores, enim temporibus labore architecto dolorum.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam
        placeat officiis, libero repellendus repellat voluptates dolorum fuga.
        Obcaecati repellat numquam dolore aliquam voluptatibus quos consectetur
        minus, eius itaque explicabo atque.
      </p>
    </div>
  </div>
</div>
