
<div class="body-card">
  <div class="body-card-interna">

      <div class="body-card-interna-content">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt sed aspernatur laudantium aliquam nobis adipisci commodi illo. Hic at tempore atque quos ullam quas eligendi nisi, illum nobis vero unde ex ipsa explicabo asperiores, enim temporibus labore architecto dolorum.
        </p>
      </div>


      <div class="body-card-interna-content">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt sed aspernatur laudantium aliquam nobis adipisci commodi illo. Hic at tempore atque quos ullam quas eligendi nisi, illum nobis vero unde ex ipsa explicabo asperiores, enim temporibus labore architecto dolorum.
        </p>
      </div>


      <div class="body-card-interna-content">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt sed aspernatur laudantium aliquam nobis adipisci commodi illo. Hic at tempore atque quos ullam quas eligendi nisi, illum nobis vero unde ex ipsa explicabo asperiores, enim temporibus labore architecto dolorum.
        </p>
      </div>

  </div>

</div>
