<div class="footer">
  <div class="row">
    <div class="col-2">
      <img src="/assets/logo-tasty.png" />
    </div>
    <div class="col-8">
      <hr />
      <h5>¿QUÉ SOMOS?</h5>
      <P>
        Una herramienta web que permite explorar, crear y compartir recetas
        culinarias. La WebApp ofrece inspiración para cocinar, fomenta la
        creatividad en la cocina y facilita la interacción social a través de la
        gastronomía.
      </P>
    </div>
    <div class="col-2" id="derechos-reservados">
      <hr />

      <p>
        © <span id="anio-footer">[2024]</span>
        <br />
        <span id="titulo-footer">TASTY</span>
      </p>
      <p>Todos los derechos reservados.</p>
    </div>
  </div>
</div>
