<div class="body-card">
  <div class="flex-container-categoria">
    <div class="card-categoria-interna">
      <img src="/assets/ensaladilla.jpg" />
      <p>CATEGORIA UNO</p>
    </div>
    <div class="card-categoria-interna">
      <img src="/assets/ensaladilla.jpg" />
      <p>CATEGORIA DOS</p>
    </div>
    <div class="card-categoria-interna">
      <img src="/assets/ensaladilla.jpg" />
      <p>CATEGORIA TRES</p>
    </div>
    <div class="card-categoria-interna">
      <img src="/assets/ensaladilla.jpg" />
      <p>CATEGORIA CUATRO</p>
    </div>
    <div class="card-categoria-interna">
      <img src="/assets/ensaladilla.jpg" />
      <p>CATEGORIA CINCO</p>
    </div>
  </div>
</div>
