<div class="row titulo-receta">
  <div class="col">
    <h1>Titulo detalle receta.</h1>
  </div>
</div>

<div class="row body-card-lista-receta">
  <div class="col-4 profile-izquierda">
    <img src="/assets/ensaladilla.jpg" id="imagenDetallereceta" />

    <div class="row" id="card-profile-receta-propia">
      <div class="col-5" id="card-imagen-detalle">
        <img src="/assets/chefs.jpg" />
      </div>

      <div class="col-6" id="card-texto">
        <h6>Lorem Ipsum</h6>
        <p>
          Sit amet consectetur adipisicing elit. Culpa et quos voluptates
          soluta, laborum officiis blanditiis a consequuntur sit.
        </p>
      </div>
    </div>
  </div>

  <div class="col-7 text-detalle-receta">
    <h3>MIS CREACIONES.</h3>
    <br />
    <h4>Ingredientres.</h4>

    <ul>
      <li>Lorem Ipsun</li>
      <li>Lorem Ipsun</li>
      <li>Lorem Ipsun</li>
      <li>Lorem Ipsun</li>
      <li>Lorem Ipsun</li>
    </ul>
    <br />
    <h4>Preparación.</h4>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam natus
      quidem architecto mollitia. Atque accusantium, similique delectus
      recusandae animi quos totam deserunt expedita corporis. Ut eveniet animi
      obcaecati dolor nam? Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Quibusdam natus quidem architecto mollitia.
      <br />Atque accusantium, similique delectus recusandae animi quos totam
      deserunt expedita corporis. Ut eveniet animi obcaecati dolor nam? Lorem
      ipsum dolor sit amet consectetur adipisicing elit. Quibusdam natus quidem
      architecto mollitia. Atque accusantium, similique delectus recusandae
      animi quos totam deserunt expedita corporis. Ut eveniet animi obcaecati
      dolor nam? Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Quibusdam natus quidem architecto mollitia. Atque accusantium, similique
      delectus recusandae animi quos totam deserunt expedita corporis. Ut
      eveniet animi obcaecati dolor nam?
    </p>
  </div>
</div>
