<div class="body-card">
  <div class="card-chefs">
    <div class="card-chefs-interna">
      <div class="row">
        <div class="col-3 card-imagen">
          <img src="/assets/chefs.jpg" />
        </div>
        <div class="col-6 card-texto">
          <h6>Lorem Ipsum</h6>
          <p>
            Sit amet consectetur adipisicing elit. Culpa et quos voluptates
            soluta, laborum officiis blanditiis a consequuntur sit.
          </p>
        </div>
      </div>
    </div>

    <div class="card-chefs-interna">
      <div class="row">
        <div class="col-3 card-imagen">
          <img src="/assets/chefs.jpg" />
        </div>
        <div class="col-6 card-texto">
          <h6>Lorem Ipsum</h6>
          <p>
            Sit amet consectetur adipisicing elit. Culpa et quos voluptates
            soluta, laborum officiis blanditiis a consequuntur sit.
          </p>
        </div>
      </div>
    </div>

    <div class="card-chefs-interna">
      <div class="row">
        <div class="col-3 card-imagen">
          <img src="/assets/chefs.jpg" />
        </div>
        <div class="col-6 card-texto">
          <h6>Lorem Ipsum</h6>
          <p>
            Sit amet consectetur adipisicing elit. Culpa et quos voluptates
            soluta, laborum officiis blanditiis a consequuntur sit.
          </p>
        </div>
      </div>
    </div>

    <div class="card-chefs-interna">
      <div class="row">
        <div class="col-3 card-imagen">
          <img src="/assets/chefs.jpg" />
        </div>
        <div class="col-6 card-texto">
          <h6>Lorem Ipsum</h6>
          <p>
            Sit amet consectetur adipisicing elit. Culpa et quos voluptates
            soluta, laborum officiis blanditiis a consequuntur sit.
          </p>
        </div>
      </div>
    </div>

    <div class="card-chefs-interna">
      <div class="row">
        <div class="col-3 card-imagen">
          <img src="/assets/chefs.jpg" />
        </div>
        <div class="col-6 card-texto">
          <h6>Lorem Ipsum</h6>
          <p>
            Sit amet consectetur adipisicing elit. Culpa et quos voluptates
            soluta, laborum officiis blanditiis a consequuntur sit.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
