/* You can add global styles to this file, and also import other style files*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-header {
  width: 95%;
  height: 250px;
  background-color: #000000;
  color: rgb(252, 215, 9);
  display: flex;
  justify-content: right;
  margin: 20px auto 0 auto;
  opacity: 0.2;
}

.navBar-main {
  width: 95%;
  background-color: rgb(255, 235, 163, 0.3);
  color: #333;
  margin: 0 auto 0 auto;
}

.body-card {
  width: 95%;
  background-color: rgb(255, 235, 163, 0.3);
  color: #333;
  padding: 20px;
  margin: 0 auto 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.body-card-interna {
  background-color: #ffffff;
  height: 350px;
  padding: 15px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  display: flex;
}

.body-card-interna-content {
  background-color: #ffffff;
  padding: 20px;
  margin: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  justify-content: center;
  width: 90%;
}

@media (max-width: 768px) {
  .home-header {
    width: 80%;
    padding: 15px;
  }
  .body-card,
  .navBar-main {
    width: 80%;
    padding: 15px;
  }
}

img {
  width: 80%;
  height: 100%;
  align-content: end;
}

#imgRecetaDelDia {
  border-radius: 10px;
}

.flex-container-categoria {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

.card-categoria-interna {
  background-color: #ffffff;
  width: 10.6rem;
  height: 15.6rem;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(248, 248, 147);
  margin: 10px;
  padding: 20px;
}

.card-categoria-interna > img {
  background-color: wheat;
  width: 100%;
  height: 70%;
  border-radius: 0.625rem;
}

.card-categoria-interna > p {
  color: #030000;
  text-align: center;
  margin: 0.6rem auto;
  padding: 0.8rem;
  font-size: 16px;
  font-weight: bold;
}

.card-chefs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

.card-chefs-interna {
  background-color: white;
  width: 30vw;
  height: 30vh;
  border-radius: 0.625rem;
  border-style: solid;
  border-color: rgb(248, 248, 147);
}
.card-imagen {
  width: 30%;
  height: 22vh;
  margin: 20px 0 0 30px;
  border-radius: 10px;
}
.card-imagen > img {
  width: 100%;
  border-radius: 10px;
}

.card-texto {
  width: 50%;
  height: 22vh;
  margin: 20px auto auto auto;
}

.barra-lateral {
  width: 30vw;
  height: 100vh;
  background-color: #000000;
  color: rgb(252, 215, 9);
  position: fixed; /* Fija la barra en el lado izquierdo */
  top: 0;
  left: 0;
  clip-path: polygon(0 0, 40% 0, 60% 100%, 0 100%);
  justify-content: right;
  margin: 0px 0px;
  opacity: 0.2;
}

.body-card-lista-receta {
  width: 80vw;
  height: 100vh;
  float: right;
  color: #333;
  padding: 20px;
}

.body-card-lista-receta-interna {
  width: 90%;
  float: left;
  padding: auto;
  margin: 20px;
  border: solid;
  border-radius: 10px;
  word-wrap: break-word;
  border-color: rgb(248, 248, 147);
}

.col-txt {
  width: 66.66%;
  float: left;
  font-size: 1rem;
}

.col-img {
  width: 33.34%;
  padding: 10px;
  float: left;
}

.lista-receta-fila {
  padding-left: 20px;
}

.col-img > img {
  max-width: 100%;
  border-radius: 25px;
  margin: 20px;
  padding: 20px;
}

.titulo-receta {
  width: 40vw;
  margin-top: 60px;
  padding: 10px;
  text-align: right;
  background: linear-gradient(to right, #f8f8f8, #f8f893);
}

@media (max-width: 768px) {
  .col-txt {
    width: 100%;
    float: left;
    font-size: 1rem;
  }
  .col-img {
    width: 100%;
    padding: 10px;
    float: left;
  }
  .titulo-receta {
    width: 60vw;
  }
}

.profile-izquierda {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
}

#profileIzquierdaImg {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 10px;
  border-radius: 300px;
}

#profileIzquierdaTxt {
  font-size: 1.3rem;
  padding: 10px;
  text-align: justify;
}

.card-mis-creaciones {
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: solid;
  border-color: rgb(248, 248, 147);
  height: 20vh;
  margin-top: 20px;
  max-width: 100%;
}

.card-mis-creaciones > img {
  width: 30%;
  height: 100%;
  margin: 15px 15px 15px 15px;
  padding: 5px;
  border-radius: 20px;
  object-fit: cover;
}

.card-mis-creaciones > p {
  text-align: justify;
}

#imagenDetallereceta {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 10px;
  border-radius: 30px;
}

#card-profile-receta-propia {
  border: solid;
  border-radius: 10px;
  border-color: rgb(248, 248, 147);
  margin: 10px;
}

.text-detalle-receta {
  margin: 20px;
  padding: 20px;
}

#card-texto {
  font-size: small;
  word-wrap: break-word;
}

#card-imagen-detalle {
  margin: 5px;
  padding: 5px;
}

.footer {
  width: 95%;
  height: 20vh;
  display: flex;
  margin: 0 auto 20px auto;
  margin-top: 10px;
  overflow: hidden;
}

.footer img {
  width: 150px;
  height: auto;
  max-width: 100%;
}

.footer h5 {
  font-size: small;
  padding: 10px;
}

.footer p {
  font-size: small;
}

#derechos-reservados {
  margin-bottom: 0px;
  justify-content: end;
}
