<div class="row titulo-receta">
    <div class="col">
      <h1>Name profile.</h1>
    </div>
  </div>
  
  <div class="row body-card-lista-receta">
    <div class="col-5 profile-izquierda">
      <img src="/assets/chefs.jpg" id="profileIzquierdaImg" />
  
      <p id="profileIzquierdaTxt">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora aut omnis
        esse, fuga id in aspernatur. Quaerat dolor aperiam nemo adipisci
        consequuntur dicta accusantium ea, ab fugit molestias maxime illum.
      </p>
    </div>
  
    <div class="col-7">
      <h1>MIS CREACIONES.</h1>
  
      <div class="card-mis-creaciones">
        <img src="/assets/chefs.jpg" />
        <h4>Mi receta del día</h4>
      </div>
  
      <div class="card-mis-creaciones">
        <img src="/assets/chefs.jpg" />
        <h4>Mi receta del día</h4>
      </div>
  
      <div class="card-mis-creaciones">
        <img src="/assets/chefs.jpg" />
        <h4>Mi receta del día</h4>
      </div>
    </div>
  </div>