<div class="crear-receta-container">
  <h2>Crea tu Receta</h2>
  
  <form class="form" (ngSubmit)="onSubmit($event)" #recetaForm="ngForm">
    <!-- Nombre -->
    <div class="form-group">
      <label for="nombre">Nombre de la receta:</label>
      <input 
        type="text" 
        id="nombre" 
        name="nombre" 
        [(ngModel)]="receta.nombre" 
        required 
        class="form-control"
        (blur)="validateField($event)" />
      <div *ngIf="validationErrors['nombre']" style="color: red;">
        {{ validationErrors['nombre'] }}
      </div>
    </div>
    
    <!-- Descripción -->
    <div class="form-group">
      <label for="descripcion">Descripción:</label>
      <textarea 
        id="descripcion" 
        name="descripcion" 
        [(ngModel)]="receta.descripcion" 
        required 
        class="form-control"
        (blur)="validateField($event)">
      </textarea>
      <div *ngIf="validationErrors['descripcion']" style="color: red;">
        {{ validationErrors['descripcion'] }}
      </div>
    </div>

    <!-- Tiempo de cocción -->
    <div class="form-group">
      <label for="tiempo_de_coccion">Tiempo de cocción:</label>
      <input 
        type="text" 
        id="tiempo_de_coccion" 
        name="tiempo_de_coccion" 
        [(ngModel)]="receta.tiempo_de_coccion" 
        required 
        class="form-control"
        (blur)="validateField($event)" />
        <div *ngIf="validationErrors['tiempo_de_coccion']" style="color: red;">
          {{ validationErrors['tiempo_de_coccion'] }}
        </div>
    </div>
    
    <!-- URL de Imagen -->
    <div class="form-group">
      <label for="imageUrl">URL de la Imagen:</label>
      <input 
        type="text" 
        id="imageUrl" 
        name="imageUrl" 
        [(ngModel)]="receta.imageUrl" 
        required 
        class="form-control"
        (blur)="validateField($event)" />
        <div *ngIf="validationErrors['imageUrl']" style="color: red;">
          {{ validationErrors['imageUrl'] }}
        </div>
    </div>
    
    <!-- Ingredientes -->
    <div class="form-group">
      <label>Ingredientes:</label>
      <tag-input [(ngModel)]="items" 
        [identifyBy]="'id'" [displayBy]="'displayName'"
        (onAdd)="onAdd($event)" (onRemove)="onRemove($event)"
        [ngModelOptions]="{standalone: true}">
      </tag-input>
    </div>

    <!-- Modal Ingredientes -->
    <div class="form-group" *ngIf="showModal" class="modal-backdrop">
      <div class="modal-content">
        <h3>Agregar Ingrediente</h3>
    
        <label for="name_input">Ingrediente:</label>
        <input type="text" id="name_input" name="name_input" [(ngModel)]="name_input" placeholder="Nombre del ingrediente">
        
        <label for="cantidad_input">Cantidad:</label>
        <input type="text" id="cantidad_input" name="cantidad_input" [(ngModel)]="cantidad_input" placeholder="Cantidad">
    
        <div class="modal-buttons">
          <button type="button" (click)="addIngrediente()">Agregar</button>
          <button type="button" (click)="closeModal()">Cancelar</button>
        </div>
      </div>
    </div>

    <!-- Categorías -->
    <div class="form-group">
      <tag-form-component></tag-form-component>
    </div>

    <!-- ID de Usuario -->
    <input 
      type="hidden" 
      name="user_id" 
      [(ngModel)]="user_id"  />

    <!-- Botón de Enviar -->
    <button type="submit" class="btn btn-primary" [disabled]="!recetaForm.form.valid">
      Crear Receta
    </button>
  </form>
  <h3 *ngIf="showRecetaCreated" class="receta-creada">Se creo la receta con exito</h3>
</div>

<a href="/" class="btn btn-primary">
  Volver al Inicio
</a>


<!-- MODAL DE CONFIRMACION  -->
<div *ngIf="showConfirmationModal" class="modal-backdrop">
  <div class="modal-content">
    <h3>Confirmar Subida de Receta</h3>
    <p>¿Estás seguro de que quieres subir la receta?</p>

    <div class="modal-buttons">
      <button type="button" (click)="confirmarSubidaReceta()" class="btn btn-primary">Confirmar</button>
      <button type="button" (click)="closeConfirmationModal()" class="btn btn-primary">Cancelar</button>
    </div>
  </div>
</div>
